html{
	height:100%;
}

body{
	position:relative;
	padding:0;
	margin:0;
	height:100%;
	background-color:#114704;
}
#backbanner{
	position:fixed;
	width:100%;
	height:128px;
	z-index:-99;
	background-color:#0a84b3;
	transform:translate(0,-50%);
	top:50%;
}
h1{
	font-family: 'Ceviche One', cursive;
	font-size:3.5em;
	text-align: center;
	margin-bottom:35px;
	text-shadow:1px 1px 3px white;
	/*x-off y-off blur-rad color*/
	
	
}
h2{
	font-family: 'Ceviche One', cursive;
	font-size:3em;
}
.header{
	
	width:100%;
	height:auto;
	display:block;
	/* changing display to inlineblock fixes jumping thing */
	background-color:#114704;
}
.sticky{
	position:fixed;
	top:0;
	margin-top:5px;
	z-index:2;
}
.navtop{
	text-align:center;
	height:auto;
	width:100%;
	margin-bottom:5px;
}
.navtop > a {
	display: inline-block;
    background-color:#0a84b3;
    text-decoration: none;
    color: white;
    padding: 4px 16px;
    border-radius: 16px;
    margin-left: 8px;
    margin-right: 8px;    
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
}
#vid{
	left:50%;
	/*so the video sorta jumps when the header becomes sticky? */
	position:absolute;
	transform:translate(-50%,-50%);
	z-index:1;

}
#main{
	position:relative;
	display:inline-block;
	width:100%;
	
}
#blogarea{
	width:90%;
	
	position:absolute;
	transform:translate(-50%,0);
	left:50%;
	
	padding:5px;
	padding-left:30px;
	
	margin-left:0;
	margin-right:5px;
	
	border-style:solid;
	box-sizing:border-box;
	background-color:white;
}


.leftimg{
	z-index:0;
	display:inline-block;
	visibility:hidden;

}

.rightimg{
	z-index:0;
	position:absolute;
	right:0;
	display:inline-block;
	visibility:hidden;
}
.blogtitle{
	
	width:100%;
}
.blogimg{
	width:75%;
	height:auto;
	margin:0 12.5%;
}
.blogpost{
	width:85%;
	box-sizing:border-box;
	border-bottom-style:solid;
	text-align:center;
	margin:0 7.5%;
	
}
#footer{
	position:fixed;
	bottom:0;
	width:90%;
	padding-bottom:5px;
	transform:translate(-50%,0);
	left:50%;
	text-align:center;
	background-color:white;
	border-style:solid;
	box-sizing:border-box;
}
.collapse{
	height:16px;
}
.rotate{
	transform: rotate(180deg);
}
#collarrow{
	position:relative;
	display:block;
	left:95%;
}

.picker{
	color: white;
    padding: 4px 16px;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;   
	position:relative;
	transform:translate(-50%,0);
	
}
#redbutt{
	background-color:red;
}
#orangebutt{
	background-color:#F7852E;
}
#bluebutt{
	background-color:#0a84b3;
}
#purplebutt{
	background-color:#664069;	
}
@media only screen and (max-width: 500px){
	.navtop > a{
		padding: 0 5px;
		margin:0 4px;

	}
	.leftimg{
		visibility:hidden;
	}
	.rightimg{
		visibility:hidden;
	}
	#vid{
		width:100%;
	}
	#blogarea{
		width:100%;
		margin:0px;
		padding:0px;
	}
	.blogimg{
		width:100%;
		margin:0px;
	}
}